#guest_home {
    height: calc(100vh - 70px);

    h1 {
        font-size: 75px;
    }

    p {
        font-size: 20px;
    }
}

.links {
    font-size: 50px;

    a {
        text-decoration: none;
        color: white;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.25);
        }
    }
}